@import "tailwindcss";

@theme {
  --color-surface-dim: #cbdbf5;
  --color-secondary: #4b6171;
  --color-inverse-surface: #0D2533;
  --color-secondary-fixed-dim: #b2cadc;
  --color-on-secondary-container: #516777;
  --color-error: #ba1a1a;
  --color-inverse-on-surface: #eaf1ff;
  --color-surface-bright: #ffffff;
  --color-on-secondary-fixed: #051e2c;
  --color-surface-variant: #d3e4fe;
  --color-on-primary-fixed-variant: #a16110;
  --color-on-tertiary-fixed: #001f2a;
  --color-surface-container-lowest: #ffffff;
  --color-on-surface: #0b1c30;
  --color-primary-fixed-dim: #ffb86f;
  --color-tertiary-container: #19b8ec;
  --color-primary-fixed: #ffdcbd;
  --color-surface-container-low: #eff4ff;
  --color-on-secondary-fixed-variant: #334959;
  --color-on-error: #ffffff;
  --color-error-container: #ffdad6;
  --color-primary-container: #ef972d;
  --color-primary: #ef972d;
  --color-surface-container-highest: #d3e4fe;
  --color-tertiary: #006685;
  --color-on-primary-fixed: #ffffff;
  --color-on-surface-variant: #534435;
  --color-secondary-fixed: #cee6f9;
  --color-on-background: #0b1c30;
  --color-surface-tint: #ef972d;
  --color-outline-variant: #d9c3b0;
  --color-on-tertiary-container: #00455b;
  --color-inverse-primary: #ffb86f;
  --color-tertiary-fixed: #bfe9ff;
  --color-on-primary-container: #ffffff;
  --color-surface-container-high: #dce9ff;
  --color-outline: #867463;
  --color-surface: #ffffff;
  --color-background: #ffffff;
  --color-on-secondary: #ffffff;
  --color-surface-container: #e5eeff;
  --color-on-tertiary-fixed-variant: #004d65;
  --color-tertiary-fixed-dim: #6dd2ff;
  --color-on-error-container: #93000a;
  --color-on-primary: #ffffff;
  --color-on-tertiary: #ffffff;
  --color-secondary-container: #cee6f9;

  --spacing-stack-md: 12px;
  --spacing-stack-lg: 24px;
  --spacing-container-padding: 24px;
  --spacing-gutter: 16px;
  --spacing-base: 8px;
  --spacing-sidebar-width: 260px;
  --spacing-stack-sm: 4px;
  --spacing-margin-mobile: 20px;
  --spacing-margin-desktop: 40px;
  --spacing-section-gap: 80px;
  --spacing-container-max: 1440px;

  --font-headline-md: "Hanken Grotesk", sans-serif;
  --font-label-sm: "Hanken Grotesk", sans-serif;
  --font-display-lg-mobile: "Hanken Grotesk", sans-serif;
  --font-body-lg: "Hanken Grotesk", sans-serif;
  --font-display-lg: "Hanken Grotesk", sans-serif;
  --font-body-md: "Hanken Grotesk", sans-serif;

  --text-headline-md: 20px;
  --text-headline-md--line-height: 28px;
  --text-headline-md--font-weight: 600;

  --text-label-sm: 12px;
  --text-label-sm--line-height: 16px;
  --text-label-sm--letter-spacing: 0.05em;
  --text-label-sm--font-weight: 600;

  --text-display-lg-mobile: 24px;
  --text-display-lg-mobile--line-height: 32px;
  --text-display-lg-mobile--letter-spacing: -0.01em;
  --text-display-lg-mobile--font-weight: 700;

  --text-body-lg: 16px;
  --text-body-lg--line-height: 24px;
  --text-body-lg--font-weight: 400;

  --text-display-lg: 32px;
  --text-display-lg--line-height: 40px;
  --text-display-lg--letter-spacing: -0.02em;
  --text-display-lg--font-weight: 700;

  --text-body-md: 14px;
  --text-body-md--line-height: 20px;
  --text-body-md--font-weight: 400;
}

body {
  font-family: 'Hanken Grotesk', sans-serif;
}